
{{ define "main" }}

  {{ partial "navbar.html" . }}

    <section class="section is-medium" style="padding: 9rem 4.5rem 5rem 4.5rem">
      <div class="container">
        <div class="columns">
          <div class="column is-12">
            <h1 class="title section-title">{{ .Title }}</h1>
            <div class="divider"></div>
          </div>
        </div>

	{{ range where (.Site.RegularPages.ByParam "position") "Params.type" "member" }}
        <br>
        <div class="columns">
	  <div class="column is-6" style="width:30%">
 	    <img src="{{ printf "/%s" .Params.image }}" alt="Image" class="section-image">
	  </div>
 	  <div class="column is-6">
	    <div class="content">
  	      {{ .Content }}
	    </div>
  	  </div>
 	</div >

	<div class="columns">
 	  <div class="column is-12">
  	    <div class="divider"></div>
 	  </div>
	</div>

	{{ end }}	

    </div>
  </section>

  <section class="section is-medium" style="padding: 2rem 4.5rem 9rem 4.5rem">
   
    <div class="container">
       <div class="columns">
         <div class="column is-12">
           <h1 class="title section-title">Former Members</h1>
	 </div>
       </div>

       <div class="content">  
         <h4>PhD Students</h4>

         <ul>
	   <li><h6>Carina Castillo (2020-2022)</h6>
     <p>Carina defended her thesis on Sept 8th, 2022 (Cum laude)</p></li>
         </ul>

         <h4>Research Assistants</h4>

         <ul>
           <li><h6>Diána Hughes (2022)</h6>
            <p>Diána participated in our research on extremism and misinformation. </p></li></li>
         </ul>
       </div>
     </div>
  </section>

  {{ partial "single/sidebar.html" . }}
  {{ partial "footer.html" . }}

{{ end }}

