<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <h1 class="title section-title">{{ .Title }}</h1>
        <div class="divider"></div>
      </div>
    </div>

    {{ range where .Site.RegularPages "Params.type" "project" }}
      <div class="columns">
        <div class="column is-6">
          <img src="{{ printf "/%s" .Params.image }}" alt="Image" class="section-image">
        </div>
        <div class="column is-6">
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-12">
          <div class="divider"></div>
        </div>
      </div>
    {{ end }}

  </div>
</section>
