<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ .Title }}</h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="794" height="39" viewBox="0 0 794 39"  style="margin-top: -30px; margin-left: -15px;">
          <rect id="Rectangle_2" data-name="Rectangle 2" width="36" height="26" transform="translate(758)" fill="#f1a046" style="mix-blend-mode: multiply;isolation: isolate"/>
          <rect id="Rectangle_1" data-name="Rectangle 1" width="776" height="26" transform="translate(0 13)" fill="#4c82ed" style="mix-blend-mode: multiply;isolation: isolate"/>
        </svg>


        <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
      </div>
    </div>

    <div class="content">
      {{ .Content }}
    </div>
  </div>
</section>
