<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ .Site.Title }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    {{ block "main" . }}
    {{ partial "preloader.html" . }}
    {{ partial "hero.html" . }}
    {{ partial "features.html" . }}
    {{ partial "selling-points.html" . }}
    {{ partial "platform.html" . }}
    {{ partial "clients.html" . }}
    {{ partial "contact.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "sidebar.html" . }}

    <!-- Back-to-top button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ end }}

    {{ partial "javascript.html" . }}
  </body>
</html>
