<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    {{ partial "css.html" . }}
    {{ partial "izumafonts.html" . }}        
  </head>
  <body>
    {{ if ne .Site.Params.preloader false }}
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>
    {{ end }}

    {{ block "main" . }}

    {{ partial "single/single.html" . }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ if .Params.sidebar }}
    {{ partial "sidebar2.html" . }}
    {{ end }}

    {{ end }}

    {{ if .Params.include_footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "javascript.html" . }}
    {{ partial "consent.html" }}    
  </body>
</html>


