/* ==========================================================================
Color variables for edited elements
========================================================================== */
// buttons
$button-primary-color: $secondary;
$button-primary-text: $white;

$button-secondary-color: $primary;
$button-secondary-text: $white;

$button-accent-color: $accent;
$button-accent-text: $white;

// cards
$card-feature-background: $white;
$card-feature-header: $blue-grey;
$card-feature-text: $muted-grey;
$card-feature-border: $fade-grey;

// footer
$footer-background: $blue-grey;
$footer-titles: $white;
$footer-links: $light-blue-grey;
$footer-logos: $primary;
$footer-hover: $smoke-white;

// forms
$form-text-color: $basaltic-grey;
$form-text-background: $white;
$form-text-boarder: $light-grey;

// hero & sections
$hero-background-color: $white;
$sections-light-background: $light-grey;
$sections-feature-background: $section-grey;
$sections-alt-background: $primary;

$sections-title-color: $header-grey;
$sections-subtitle-color: $muted-grey;
$sections-ibtitle-color: $blue-grey;
$sections-ibsubtitle-color: $title-grey;

$sections-divider-color: $primary;

// navbar
$navbar-background-color: $white;
$navbar-text-color: $muted-grey;
$navbar-highlight-color: $primary;

// sidebar
$sidebar-hamburger-color: $primary;
$sidebar-background-color: $dark-grey;
$sidebar-text-color: $white;
$sidebar-x-color: $white;
$sidebar-highlight-color: $primary;

// testimonials
$testimonials-background-color: $smoke-white;
$testimonials-text-color: $text-dark;
$testimonials-name-color: $blue-grey;
$testimonials-position-color: $white;

// utils
$utils-preloader-color: $white;
$util-backtop-color: $medium-grey;
$util-backtop-hover-color: $primary;
$util-backtop-arrow-color: $white;