/* ==========================================================================
Color variables for edited elements
========================================================================== */
// buttons
$button-primary-color: $secondary;
$button-primary-text: $background;

$button-secondary-color: $primary;
$button-secondary-text: $background;

$button-accent-color: $accent;
$button-accent-text: $background;

// cards
$card-feature-background: $background;
$card-feature-header: $title;
$card-feature-text: $subtitle;
$card-feature-border: $border;

// footer
$footer-background: $title;
$footer-titles: $background;
$footer-links: $light-title;
$footer-logos: $primary;
$footer-hover: $background;

// forms
$form-text-color: $subtitle;
$form-text-background: $background;
$form-text-border: $border;

// hero & sections
$hero-background-color: $background;
$sections-light-background: $border;
$sections-feature-background: $background;
$sections-alt-background: $primary;

$sections-title-color: $header;
$sections-subtitle-color: $subheader;
$sections-ibtitle-color: $title;
$sections-ibsubtitle-color: $subtitle;

$sections-divider-color: $primary;

// navbar
$navbar-background-color: $navbar;
$navbar-text-color: $subheader;
$navbar-highlight-color: $primary;

// sidebar
$sidebar-hamburger-color: $primary;
$sidebar-background-color: $title;
$sidebar-text-color: $background;
$sidebar-x-color: $background;
$sidebar-highlight-color: $primary;

// testimonials
$testimonials-background-color: $background;
$testimonials-text-color: $header;
$testimonials-name-color: $title;
$testimonials-position-color: $background;

// utils
$utils-preloader-color: $background;
$util-backtop-color: $subtitle;
$util-backtop-hover-color: $primary;
$util-backtop-arrow-color: $background;
$util-placeholder-color: $light-title;