/* ==========================================================================
Inputs styles
========================================================================== */

input.input {
    color:  $form-text-color;
    box-shadow: none !important;
    transition: all 0.8s;
    padding-bottom: 3px;
    background-color: $form-text-background;
    &.is-small {
        padding-bottom: 2px;
        padding-left: 10px;
    }
    &.is-medium {
        padding-bottom: 5px;
    }
    &.is-large {
        padding-bottom: 7px;
    }
    &:focus, &:active {
        border-color: $form-text-border;
    }
    &.rounded {
        border-radius: 100px;
    }
    &.is-primary-focus:focus {
        border-color: $primary;
        ~ span.icon i {
            color: $primary;
        }
    }
    &.is-secondary-focus:focus {
        border-color: $secondary;
        ~ span.icon i {
            color: $secondary;
        }
    }
    &.is-accent-focus:focus {
        border-color: $accent;
        ~ span.icon i {
            color: $accent;
        }
    }
}

textarea.textarea {
    color:  $form-text-color;
    background-color:  $form-text-background;

    &:focus, &:active {
        border-color: $form-text-border;
    }
}

.form-footer {
    width: 100%;
}