/* ==========================================================================
Hero styles
========================================================================== */

.hero-body {
    background-color: $hero-background-color;
    padding-top: 6rem;
    padding-bottom: 6rem;
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;
    }
    .title {
        &.is-bold {
            color: $sections-title-color;
            font-weight: 700;
        }
    }
    .subtitle {
        &.is-muted {
            color: $sections-subtitle-color;
        }
    }
}

.hero-foot {
    img.partner-logo {
        height: 70px;
    }
}
