/* ==========================================================================
Section Styles
========================================================================== */

//Sections
.section {
    &.section-light-grey {
        background-color: $light-grey;
    }
    &.section-feature-grey {
        background-color: $section-grey;
    }
    &.section-secondary {
        background-color: $secondary;
    }
    &.section-half {
        height: 75vh !important;
    }
    .title, .subtitle, subtitle2, subtitlepop {
        font-family: 'Poppins', sans-serif;

    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

.izuma-pop {
            font-family: 'Poppins', sans-serif;
            color: #FFF;
            font-weight: 600;
            background: $izuma-blue;
            padding: 0.8rem 1.8rem 0.8rem 1.8rem;
            margin-left: -1rem;
            margin-bottom: 1rem;
            font-size: 1rem;
            -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
            clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
            &.cobalt {
                background: $izuma-cobalt;
            }
}

.pop-spacer {
    height: 1px;
}


.section {
    .subtitlepop {
        &.izuma-pop {
            font-family: 'Poppins', sans-serif;
            color: #FFF;
            font-weight: 600;
            background: $izuma-blue;
            padding: 0.8rem 1.8rem 0.8rem 1.8rem;
            margin-left: -1rem;
            margin-bottom: 1rem;
            font-size: 1rem;
            -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
            clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
        }
    }
}
//Titles
.title-wrapper {
    max-width: 500px;
    margin: 0 auto;
    .title, .subtitle {
        font-family: 'Poppins', sans-serif;

    }
    .subtitlepop {
        &.is-izuma-hero-pop {
            color: $izuma-blue;
            weight: 600;
        }
    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

//Divider
.divider {
    height: 3px;
    border-radius: 50px;
    background: $secondary;
    width: 60px;
    &.is-centered {
        margin: 0 auto;
    }
}

//Wrapper
.content-wrapper {
    padding: 60px 0;
}


//Pulled image
img.pushed-image {
    margin-top: -5vh;
}

//Icon box
.media.icon-box {
    border-top: none !important;
    .media-content .content p {
        span {
            display: block;
        }
        .icon-box-title {
            color: $blue-grey;
            font-size: 1.2rem;
            font-weight: 600;
        }
        .icon-box-text {
            color: $izuma-cobalt;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

figure {
    &.section2 {
        float: left;
        margin-left: -33%;
        padding-right: 2%;
        margin-top: auto;
        margin-bottom: auto;
        width: 200px;
        text-align: center;

    }
}

img .section2 {
      max-width:200px;
      max-height:95px;
      width: auto;
      height: auto;
}



.section2 {
    .spacer-desktop {
        height: 70px;
    }
    .spacer-desktop-20 {
        height: 20px;
    }    
}

@media only screen and (max-device-width : 1024px) and (orientation : portrait) {
    .media {
        display: block;
    }


    .section {
        .subtitlepop {
            &.izuma-pop {
                font-family: 'Poppins', sans-serif;
                color: #FFF;
                font-weight: 600;
                background: $izuma-blue;
                padding: 0.8rem 1.8rem 0.8rem 1.8rem;
                margin-left: -3rem;
                margin-right: -3rem;
                margin-bottom: 1rem;
                font-size: 1rem;
                -webkit-clip-path: none;
                clip-path: none;

            }
        }
    }


    .izuma-pop {
        font-family: 'Poppins', sans-serif;
        color: #FFF;
        font-weight: 600;
        background: $izuma-blue;
        padding: 0.8rem 1.8rem 0.8rem 1.8rem;
        margin-left: -2rem;
        margin-right: -2rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        -webkit-clip-path: none;
        clip-path: none;

    }



}


@media (max-width: 767px) {
    .section2 {
        .spacer-desktop {
            height: 0;
        }
    }
    figure {
        &.section2 {
            float: none;
            margin: 10px;
            padding-right: 2%;
            width: 200px;
        }
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .section2 {
        .spacer-desktop {
            height: 0;
        }
    }
    figure {
        &.section2 {
            float: non;
            margin: 10px;
            padding-right: 2%;
            width: 200px;
        }
    }

}

img.need-border {
    border: #000;
    border-style: solid;
    border-width: 1px;
}
