{{- $clients := .Site.Params.clients -}}
{{- $tagline := $clients.tagline -}}
{{- $subTagline := $clients.subTagline -}}
{{- $clientExamples := $clients.clientExamples -}}
<section class="section is-medium section-secondary">
  <div class="container">
    <div class="title-wrapper pb-40">
      <h2 class="title is-2 section-title has-text-centered light-text pb-20">
        {{ $tagline }}
      </h2>
      <h3 class="subtitle is-5 has-text-centered light-text">
        {{ $subTagline }}
      </h3>
    </div>

    <div class="columns is-vcentered mt-40">
      {{- range $clientExamples -}}
      <div class="column is-4">
        <figure class="testimonial">
          <blockquote>
            {{ .quote }}
          </blockquote>
          <div class="author">
            <img src="{{ printf "img/illustrations/faces/%s" .image | absURL }}" alt=""/>
            <h5>
              {{ .name }}
            </h5>
            <span>
              {{ .position }}
            </span>
          </div>
        </figure>
      </div>
      {{- end -}}
    </div>
  </div>
</section>
