{{- $footer := .Site.Params.footer -}}
{{- $image := $footer.image -}}
{{- $columns := $footer.columns -}}
{{- $followUs := $footer.followUs -}}
<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          <img src="{{ printf "img/logos/%s" $image | absURL }}">
        </div>
      </div>
      {{- range $columns }}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>{{ .title }}</h3>
          </div>
          <ul class="link-list">
            {{- range .links -}}
            <li>
              <a href="{{ .url }}">
                {{ .name }}
              </a>
            </li>
            {{- end -}}
          </ul>
        </div>
      </div>
      {{- end }}

      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Follow Us</h3>
            <nav class="level is-mobile">
              <div class="level-left">
                {{- range $followUs -}}
                <a class="level-item" href="{{ .url }}">
                  <span class="icon">
                    <i class="fa fa-{{ .icon }}"></i>
                  </span>
                </a>
                {{- end -}}
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
