<div class="hero-foot mb-20">
  <div class="container">
    <div class="tabs is-centered">
      <ul>
        <li><a><img class="partner-logo" src="{{ "/images/logos/clients/systek.svg" | relURL }}"></a></li>
        <li><a><img class="partner-logo" src="{{ "/images/logos/clients/tribe.svg" | relURL }}"></a></li>
        <li><a><img class="partner-logo" src="{{ "/images/logos/clients/kromo.svg" | relURL }}"></a></li>
        <li><a><img class="partner-logo" src="{{ "/images/logos/clients/infinite.svg" | relURL }}"></a></li>
        <li><a><img class="partner-logo" src="{{ "/images/logos/clients/gutwork.svg" | relURL }}"></a></li>
      </ul>
    </div>
  </div>
</div>