<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          Manage, Deploy.
        </h1>
        <h2 class="subtitle is-5 is-muted">Lorem ipsum sit dolor amet is a dummy text used by typography industry </h2>
        <p>
          <a class="button cta rounded primary-btn raised">
            Get Started
          </a>
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <figure class="image is-4by3">
          <img src="{{ "/images/illustrations/worker.svg" | relURL }}" alt="Description">
        </figure>
      </div>
    </div>
  </div>
</div>