{{- $navbar := .Site.Params.navbar -}}
{{- $logoSrc := printf "img/%s" $navbar.logo.src | absURL -}}
{{- $logoAlt := $navbar.logo.alt -}}
{{- $links := $navbar.links -}}
{{- $buttonText := $navbar.buttonText -}}
<div class="navbar-wrapper navbar-sticky">
  <div class="hero-head">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ .Site.BaseURL }}">
            <img class="brand" src="{{ $logoSrc }}" alt="{{ $logoAlt }}">
          </a>
          <a id="panel-trigger" href="#left-panel" class="navbar-item navbar-inner hamburger-btn" href="javascript:void(0);">
            <span class="menu-toggle">
              <span class="icon-box-toggle">
                <span class="rotate">
                  <i class="icon-line-top"></i>
                  <i class="icon-line-center"></i>
                  <i class="icon-line-bottom"></i>
                </span>
              </span>
            </span>
          </a>
        </div>
        <span class="navbar-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="navbar-end navbar-menu">
          {{- range $links -}}
          {{- if ne .dropdown true }}
          <a class="navbar-item is-tab navbar-inner" href="{{ .url }}">
            {{ .text }}
          </a>
          {{- else }}
          <div class="navbar-item is-drop">
            <a class="navbar-item is-tab navbar-inner-xs">
              {{ .text }}
            </a>
            <span class="drop-caret"><i class="fa fa-angle-down"></i></span>
            <div class="dropContain">
              <div class="dropOut">
                <div class="triangle"></div>
                <ul>
                  {{- range .links -}}
                  <li>{{ . }}</li>
                  {{- end -}}
                </ul>
              </div>
            </div>
          </div>
          {{- end -}}
          {{- end -}}

          <span class="navbar-item">
            <a class="button cta is-large rounded secondary-btn raised">
              {{ $buttonText }}
            </a>
          </span>
        </div>
      </nav>
    </div>
  </div>
</div>
