{{- $platform := .Site.Params.platform }}
{{- $image := $platform.image }}
{{- $tagline := $platform.tagline -}}
{{- $subTagline := $platform.subTagline -}}
{{- $buttonText := $platform.buttonText -}}
<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="has-text-centered">
          <img class="pushed-image" src="{{ printf "img/%s" $image | absURL }}">
        </div>
      </div>
    </div>

    <div class="title-wrapper pb-40">
      <h2 class="title section-title has-text-centered pb-20">{{ $tagline }}</h2>
      <h3 class="subtitle is-5 has-text-centered">{{ $subTagline }}</h3>
    </div>

    <p class="has-text-centered">
      <a class="button cta is-large rounded secondary-btn raised">
        {{ $buttonText }}
      </a>
    </p>
  </div>
</section>
