<section class="section section-feature-grey is-medium">
  <div class="container">

    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="has-text-centered">
          <img class="pushed-image" src="{{ "/images/illustrations/mockups/app-mockup.png" | relURL }}">
        </div>
      </div>
    </div>

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">One Platform</h2>
      <h3 class="subtitle is-5 is-muted">To rule them All</h3>
    </div>

    <p class="has-text-centered mt-20">
      <a class="button cta is-large rounded secondary-btn raised">
        Get Started
      </a>
    </p>
  </div>
</section>