{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<section class="section is-medium section2">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ $title }}</h1>
        <h3 class="subtitle is-5 izuma-pop cobalt">{{ $subtitle | safeHTML }}</h3>
      </div>

      <div class="column is-7 desktop-top60">
        <div class="spacer-desktop"></div>
        {{- range $features }}
        <article class="media icon-box">
          {{ if .image }}
          <figure class="media-left section2">
            <p class="image">
              <img src="{{ printf "/images/%s" .image | relURL }}">
            </p>
          </figure>
          {{ end }}
          <div class="media-content mt-50">
            <div class="content">
              <p>
                <span class="icon-box-title">{{ .title }}</span>

                <span class="icon-box-text">{{ .text | markdownify }}</span>
              </p>
            </div>
          </div>
        </article>
        {{- end }}
      </div>
    </div>
  </div>
</section>