{{- $section5   := .Site.Params.section5 }}
{{- if eq $section5 true }}
{{- $section5 = dict "_" "_" }}
{{- end }}
{{- $title      := index $section5 "title" | default "Drop us a line or two "}}
{{- $subtitle   := index $section5 "subtitle" | default "We'd love to hear from you" }}
{{- $action     := index $section5 "action" }}
{{- $method     := index $section5 "method" }}
{{- $buttonText := index $section5 "buttontext" | default "Send Message" }}
<section class="section section-light-grey is-medium" id="section5">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form{{ with $action }} action="{{ . }}"{{end}}{{ with $method }} method="{{ . }}"{{end}}>
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" name="name" type="text" placeholder="Enter your name">
              </div>
              <div class="column is-6">
                <input class="input is-medium" name="email" type="email" placeholder="Enter your email address">
              </div>
              <div class="column is-12">
                <textarea class="textarea" name="message" rows="10" placeholder="Write someting..."></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear">{{ $buttonText }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>