{{- $section0 := .Site.Params.section0 }}
{{- $title    := index $section0 "title" }}
{{- $subtitle := index $section0 "subtitle" }}
{{- $tiles    := index $section0 "tiles" }}
<section class="section is-medium section-secondary" id="section0">
  <div class="title-wrapper has-text-centered">
    <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
    {{- with $subtitle }}
    <h3 class="subtitle is-5 light-text">{{ . }}</h3>
    {{- end }}
  </div>

  <div class="container" style="padding: 0 180px;">
    <br>
    <p style="color: white; text-align: justify;">In recent years, have witnessed a concerning increase in political polarization, 
      with individuals becoming more entrenched in their beliefs and less willing to engage in open dialogue. 
      This polarization has created fertile ground for the spread of misinformation, 
      as people are more likely to embrace information that aligns with their existing biases, 
      further exacerbating societal divisions.</p>
    <br>
    <p style="color: white; text-align: justify;">Our team uses a cognitive neuroscience and experimental psychology approach
       to understand how political extremism impacts decision-making in contexts of political polarization. 
       Particularly, we examine how extreme social identities and moral values shape people’s political 
       beliefs, motivation to share misinformation, and willingness to engage in political violence. </p>
    <br>
    <p style="color: white; text-align: justify;">We focus on the psychological and neural underpinnings of these processes and,
       based on these insights, we develop novel interventions to address these challenges. For that, 
       we use a multi-method approach, including neuroimaging tools, including functional magnetic resonance 
       (fMRI) and electroencephalography (EEG), psychological testing, and behavioral experiments. </p>
    <br>
    <p style="color: white; text-align: justify;">Join us in our mission to understand the neuroscience 
      of political extremism and the spread of misinformation. </p>
    <br>
    <br>
    <div class="button-container" style="display: flex; justify-content: center;">
      <a href="blog/joinus" class="button" style="color: black;">Join Us</a>
    </div>
  </div>
  </div>
</section>