{{- $section3   := .Site.Params.section3 }}
{{- $subcontent   := index $section3 "subcontent" }}
{{- $title      := index $section3 "title" }}
{{- $subtitle   := index $section3 "subtitle" }}
{{- $image      := index $section3 "image" }}
{{- $imageleft      := index .Site.Params.section3.subcontent "imageleft" }}
{{- $titleleft      := index .Site.Params.section3.subcontent "titleleft" }}
{{- $textleft      := index .Site.Params.section3.subcontent "textleft" }}
{{- $linkleft      := index .Site.Params.section3.subcontent "linkleft" }}
{{- $imageright      := index .Site.Params.section3.subcontent "imageright" }}
{{- $titleright      := index .Site.Params.section3.subcontent "titleright" }}
{{- $textright      := index .Site.Params.section3.subcontent "textright" }}
{{- $linkright      := index .Site.Params.section3.subcontent "linkright" }}
{{- $buttonText := index $section3 "buttontext" }}
{{- $buttonLink := index $section3 "buttonlink" }}
<section class="section section-feature-grey is-medium section3">
  <div class="container">
    <div class="columnz">
      <div class="zcolumn is-10 is-offset-1">
        <div class="has-text-centered">
          <img class="pushed-image need-border" src="{{ printf "/images/%s" $image | relURL }}">
        </div>
      </div>
    </div>

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5">{{ $subtitle }}</h3>
    </div>

    <p class="has-text-centered mt-20">
      <a class="button cta is-large izumaparallel secondary-btn raised" href="{{ $buttonLink }}">
        {{ $buttonText }}
      </a>
    </p>
  </div>  
</section>
{{ if $subcontent }}
    <div class="columnz is-gapless section3-product" style="margin-bottom: 0;">
      <div class="zcolumn is-half izuma">
        <div id="section3leftcontent" class="left-content">
          <a id="section3leftlink" href="{{ $linkleft }}" class="nodisplaylink"></a>
          <div class="iz-block">
            <h4 class="title is-4">{{ $titleleft | safeHTML }}</h4>
            <div class="textleft">{{ $textleft | safeHTML }}</div>
          </div>
          <div class="iz-block"> 
            <img class="pushed-image" src="{{ printf "/images/%s" $imageleft | relURL }}">            
          </div>
        </div>
      </div>
      <div class="zcolumn is-half izuma right">
        <div id="section3rightcontent" class="right-content">
          <div class="iz-block"> 
            <img class="pushed-image" src="{{ printf "/images/%s" $imageright | relURL }}">            
          </div>

          <div class="iz-block"> 
            <h4 class="title is-4">{{ $titleright | safeHTML }}</h4>
            <div class="textright">{{ $textright | safeHTML }}</div>
          </div>

        </div>
      </div>
{{ end }}
    </div>
{{ if $subcontent }}    
    <script type="text/javascript">
const leftcontent = document.querySelector("#section3leftcontent")
const leftlink = document.querySelector('#section3leftlink')
 
leftcontent.addEventListener("click", handleClick)
 
function handleClick(event) {
  leftlink.click();
} 
    </script>
{{ end }}
