{{- $section0 := .Site.Params.section0 }}
{{- $title    := index $section0 "title" }}
{{- $subtitle := index $section0 "subtitle" }}
{{- $tiles    := index $section0 "tiles" }}
<section class="section is-medium section-secondary" id="section0">
  <div class="title-wrapper has-text-centered">
    <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
    {{- with $subtitle }}
    <h3 class="subtitle is-5 light-text">{{ . }}</h3>
    {{- end }}
  </div>

  <div class="container" style="padding: 0 100px;">
    <br>
    <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum ligula nec risus ultrices ultricies. In hac habitasse platea dictumst. Ut sit amet tristique lectus.</p>
    <p style="color: white;">Sed eu ultricies lacus. Duis in libero a neque vulputate ullamcorper vitae et nisi. Nulla facilisi. Sed sodales ligula sed orci vestibulum, at ultrices lacus eleifend.</p>
    <p style="color: white;">Vestibulum sagittis rhoncus enim, at consequat est laoreet vel. Mauris fermentum metus justo, sed malesuada purus congue et. Mauris tincidunt varius efficitur.</p>
    <br>
    <br>
    <div class="button-container" style="display: flex; justify-content: center;">
      <a href="blog/joinus" class="button" style="color: black;">Join Us</a>
    </div>
  </div>
  </div>
</section>