<section class="section is-medium section-secondary">
    <div class="container">

        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2 light-text is-spaced">Our Clients love us !</h2>
            <h3 class="subtitle is-5 light-text">Lorem ipsum sit dolor amet is a dummy text used by typography industry </h3>
        </div>

        <div class="content-wrapper">
            <div class="columns is-vcentered">
                <div class="column is-4">
                    <figure class="testimonial">
                        <blockquote>
                            Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
                        </blockquote>
                        <div class="author">
                            <img src="{{ "/images/illustrations/faces/1.png" | relURL }}" alt=""/>
                            <h5>Irma Walters</h5><span>Accountant</span>
                        </div>
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="testimonial">
                        <blockquote>
                            Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
                        </blockquote>
                        <div class="author">
                            <img src="{{ "/images/illustrations/faces/2.png" | relURL }}" alt=""/>
                            <h5>John Bradley</h5><span>Financial Analyst</span>
                        </div>
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="testimonial">
                        <blockquote>
                            Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
                        </blockquote>
                        <div class="author">
                            <img src="{{ "/images/illustrations/faces/2.png" | relURL }}" alt=""/>
                            <h5>Gary Blackman</h5><span>HR Manager</span>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>