{{- $section5   := .Site.Params.section5 }}
{{- $title      := index $section5 "title" }}
{{- $subtitle   := index $section5 "subtitle" }}
{{- $subtitlepop   := index $section5 "subtitlepop" }}
{{- $embedcode   := index $section5 "embedcode" }}
<!-- {{- $buttonText := index $section5 "buttontext" }}
{{- $buttonLink := index $section5 "buttonlink" }} -->
<section class="section section-light-grey is-medium section5">
  <div class="container">
    <div class="title-wrapper has-text-centered">
        <a class="titleanchor" id="contact-us"></a>
      <h2 class="title is-2 is-spaced">{{ $title | safeHTML }}</h2>
      <h3 class="subtitle is-5 izuma-pop">{{ $subtitlepop | safeHTML }}</h3>
      <h3 class="subtitle is-5">{{ $subtitle | safeHTML }}</h3>
<!--  -->
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columnz">
        <div class="zcolumn is-6 is-offset-3">
          {{ $embedcode | safeHTML }}
        </div>
      </div>
    </div>
  </div>
</section>