{{- $section5   := .Site.Params.section5 }}
{{- if eq $section5 true }}
{{- $section5 = dict "_" "_" }}
{{- end }}
{{- $title      := index $section5 "title" | default "Get in touch "}}
{{- $subtitle   := index $section5 "subtitle" }}
{{- $action     := index $section5 "action" }}
{{- $method     := index $section5 "method" }}
{{- $buttonText := index $section5 "buttontext" | default "Send Message" }}

<script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

<script>

  (function() {
   emailjs.init("CzcAN-N3W80fJeXYq")
  })();

  function sendMail() {
    var link = "mailto:luismarvi93@gmail.com"
             + "?cc=" + encodeURIComponent(document.getElementsByName('email')[0].value)
             + "&subject=" + encodeURIComponent(document.getElementsByName('name')[0].value)
             + "&body=" + encodeURIComponent(document.getElementsByName('message')[0].value)
    ;
    
    var contactParams = {
	    from_name: document.getElementsByName('name')[0].value,
	    from_email: document.getElementsByName('email')[0].value,
	    message: document.getElementsByName('message')[0].value
    }

    emailjs.send('service_socialbrain','template_r1brdfd',contactParams).then(function (res) {});
  }

</script>


<section class="section section-light-grey is-medium" id="section5">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form{{ with $action }} action="{{ . }}"{{end}}{{ with $method }} method="{{ . }}"{{end}}>
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" name="name" type="text" placeholder="Enter your name">
              </div>
              <div class="column is-6">
                <input class="input is-medium" name="email" type="email" placeholder="Enter your email address">
              </div>
              <div class="column is-12">
                <textarea class="textarea" name="message" rows="10" placeholder="Write something..."></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear" onclick="sendMail(); return false">{{ $buttonText }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
