{{- $section4 := .Site.Params.section4 }}
{{- $title    := index $section4 "title" }}
{{- $image    := index $section4 "image" }}
<section class="section is-medium section-secondary" id="section4">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
    </div>

    <div class="image-wrapper">
      <div class="columns is-vcentered">
        {{- range $index, $image := index $section4 "images" }}
        {{- if lt $index 4 }}
        <div class="column is-3">
          <img src="{{ printf "/images/logos/funders/%s.png" (string $image) | relURL }}" alt="{{ $title }} Image {{ add $index 1 }}"/>
        </div>
        {{- end }}
        {{- end }}
      </div>
    </div>

  </div>
</section>