<section class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column is-centered-tablet-portrait">
                <h1 class="title section-title">You're here because you want the best</h1>
                <h3 class="subtitle is-5 is-muted">And we Know it</h3>
                <div class="divider"></div>
            </div>
            <div class="column is-7 mt-60">

                <!-- icon block -->
                <article class="media icon-box">
                    <figure class="media-left">
                        <p class="image">
                            <img src="{{ "/images/illustrations/icons/laptop-globe.svg" | relURL }}">
                        </p>
                    </figure>
                    <div class="media-content mt-50">
                        <div class="content">
                            <p>
                                <span class="icon-box-title">Powerful and unified interface</span>
                                <span class="icon-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</span>
                            </p>
                        </div>
                    </div>
                </article>
                <!-- /icon block -->

                <!-- icon block -->
                <article class="media icon-box">
                    <figure class="media-left">
                        <p class="image">
                            <img src="{{ "/images/illustrations/icons/doc-sync.svg" | relURL }}">
                        </p>
                    </figure>
                    <div class="media-content mt-50">
                        <div class="content">
                            <p>
                                <span class="icon-box-title">Cross device Synchronisation</span>
                                <span class="icon-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</span>
                            </p>
                        </div>
                    </div>
                </article>
                <!-- /icon block -->

                <!-- icon block -->
                <article class="media icon-box">
                    <figure class="media-left">
                        <p class="image">
                            <img src="{{ "/images/illustrations/icons/mobile-feed.svg" | relURL }}">
                        </p>
                    </figure>
                    <div class="media-content mt-50">
                        <div class="content">
                            <p>
                                <span class="icon-box-title">Nomad System</span>
                                <span class="icon-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</span>
                            </p>
                        </div>
                    </div>
                </article>
                <!-- /icon block -->

            </div>
        </div>
    </div>
</section>