{{- $section1 := .Site.Params.section1 }}
{{- $title    := index $section1 "title" }}
{{- $subtitle := index $section1 "subtitle" }}
{{- $subtitle2 := index $section1 "subtitle2" }}
{{- $subtitlepop  := index $section1 "subtitlepop" }}
{{- $tiles    := index $section1 "tiles" }}
<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-3">{{ $title }}</h2>
      <h3 class="subtitle is-5">{{ $subtitle | safeHTML }}</h3>
      <h3 class="subtitlepop izuma-pop is-5">{{ $subtitlepop | safeHTML }}</h3>
      <h3 class="subtitle is-5"><span class="iz-callout">{{ $subtitle2 | safeHTML }}</span></h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        {{- range $tiles }}
        <div class="column is-one-third">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>{{ .title }}</h4>
            </div>
            <div class="card-icon">
                <img src="{{ printf "/images/%s" .icon | relURL }}">
            </div>
            <div class="card-text">
                <p>{{ .text | safeHTML }}</p>
            </div>
            <div class="card-action">
              <a href="{{ .url }}" class="button izumaparallel btn-align-md raised">{{ .buttonText }}</a>
            </div>
          </div>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>