<div id="left-panel">
  <div class="left-menu-wrapper">
      <div class="panel-header">
          <img class="panel-logo" src="{{ "img/logos/fresh-square.svg" | absURL }}">
          <div id="panel-close" class="delete is-medium" style="float:right"></div>
      </div>
      <div class="menu">
          <p class="menu-label">
              <i class="im im-icon-Cloud"></i> Menu title
          </p>
          <ul class="menu-list">
              <li>
                  <a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>
                  <ul class="sidebar-submenu" style="display:none;">
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                  </ul>
              </li>
              <li>
                  <a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>
                  <ul class="sidebar-submenu" style="display:none;">
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                  </ul>
              </li>
          </ul>
          <p class="menu-label">
              <i class="im im-icon-Security-Block"></i> Menu title
          </p>
          <ul class="menu-list">
              <li>
                  <a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>
                  <ul class="sidebar-submenu" style="display:none;">
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                  </ul>
              </li>
              <li>
                  <a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>
                  <ul class="sidebar-submenu" style="display:none;">
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                  </ul>
              </li>
          </ul>
          <p class="menu-label">
              <i class="im im-icon-Two-Windows"></i> Menu title
          </p>
          <ul class="menu-list">
              <li>
                  <a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>
                  <ul class="sidebar-submenu" style="display:none;">
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                  </ul>
              </li>
              <li>
                  <a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>
                  <ul class="sidebar-submenu" style="display:none;">
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                      <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</div>
